.vetConsultationsContainer {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-left: 25%;
}

.vetConsultationsContainer .addConsultationButton {
  width: 15rem;
  height: 2rem;
  border: none;
  background-color: var(--vet-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  font-size: 0.75rem;
  color: #ffffff;
  font-family: var(--font-text);
}
.vetConsultationsContainer .vetConsultationsHeader .addConsultationButton img {
  width: 15px;
  height: 15px;
}
.vetConsultationsContainer
  .vetConsultationsHeader
  .addConsultationButton:hover {
  background-color: #6fa0dd;
  cursor: pointer;
}

.vetConsultationsContainer .vetConsultationsCards {
  background-color: #ffffff;
  padding: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  margin: 1.25rem auto;
  width: 100%;
}
.vetConsultationsContainer .vetConsultationsCards h1 {
  color: var(--text-color);
  margin-bottom: 1.25rem;
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 1.75rem;
}
.vetConsultationsContainer .vetConsultationsCards img {
  width: 40px;
  height: 40px;
}
.vetConsultationsContainer .vetConsultationsCards .consultationItem {
  width: 100%;
  border: none;
  padding: 1rem;
  background-color: var(--main-color);
  border-radius: 50px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
.vetConsultationsContainer
  .vetConsultationsCards
  .consultationItem
  .consultationDetails {
  margin: 0;
  font-family: var(--font-text);
  font-size: 0.875rem;
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.vetConsultationsContainer .vetConsultationsCards .consultationItem:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.vetConsultationsContainer .vetConsultationsCards .consultationItem h3 {
  margin: 0;
  font-family: var(--font-text);
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--text-color);
}
.vetConsultationsContainer .vetConsultationsCards .consultationDetails p {
  margin: 0;
  margin-left: 20px;
  width: 100px;
  font-family: var(--font-text);
  font-size: 1rem;
  color: var(--text-color);
}
.vetConsultationsContainer .vetConsultationsHeader {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-end;
}
.vetConsultationsContainer .vetConsultationsCards .seeMoreButton {
  width: 100%;
  height: 2.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
  font-family: var(--font-text);
  background-color: transparent;
}
.consultationItem .consultationIcon {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

@media screen and (max-width: 900px) {
  .vetConsultationsContainer {
    align-items: center;
    padding: 0 20px 20px 20px;
    width: 90%;
    margin: auto;
  }

  .vetConsultationsContainer .vetConsultationsCards {
    width: 80%;
  }

  .vetConsultationsContainer .vetConsultationsHeader {
    align-items: center;
    justify-content: center;
  }

  .vetConsultationsContainer .vetConsultationsCards h1 {
    font-size: 1.5rem;
  }

  .vetConsultationsContainer .vetConsultationsCards .consultationItem h3 {
    font-size: 0.9rem;
  }

  .vetConsultationsContainer .vetConsultationsCards .consultationItem p {
    font-size: 0.9rem;
    margin: 0;
  }
  .vetConsultationsContainer .vetConsultationsCards .consultationItem img {
    height: 30px;
    width: 30px;
  }
}
