.petVet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-logo);
  font-weight: 800;
  font-size: 3rem;
  color: var(--text-color);
  padding-top: 30px;
  padding-right: 80px;
}

.sizePages {
  min-height: calc(100vh - 57px);
}

.logo {
  height: 100px;
  width: auto;
  margin-left: 6rem;
}

.healthRecordPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  background-color: var(--main-color);
}
.petCard {
  width: 100%;
  max-width: 800px;
}
.petReminder {
  width: 100%;
  max-width: 500px;
  display: flex;
}

.addConsult {
  display: flex;
  align-items: center;
  background-color: var(--vet-color);
  border: none;
  border-radius: 10px;
}

.success {
  font-family: var(--font-text);
  color: var(--owner-color);
  font-size: 1.1rem;
  padding: 20px;
}

.medicalList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.resume {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.none {
  display: none;
}

.shortMedicalHistory {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  border-radius: 10px;
  width: 350px;
  max-height: 439px;
  background-color: white;
  margin-bottom: 5rem;
}

.shortMedicalHistory h2 {
  color: var(--text-color);
  font-family: var(--font-logo);
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.shortMedicalHistory h3 {
  color: var(--owner-color);
  font-family: var(--font-text);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.shortMedicalHistory.vet h3 {
  color: var(--vet-color);
  font-family: var(--font-text);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}
.petCard {
  margin: auto;
  width: 800px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  background-color: white;
}

.petFirstInfo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 20px 20px 20px 80px;
  gap: 50px;
}

.petFirstInfo h2 {
  font-family: var(--font-logo);
  font-size: 2rem;
  font-weight: 600;
}

.petFirstInfo p {
  font-family: var(--font-text);
  color: var(--text-color);
  padding-top: 5px;
}

.petSecondInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.petSecondInfo h3 {
  font-family: var(--font-logo);
  font-size: 1rem;
  font-weight: 600;
}

.petSecondInfo p {
  font-family: var(--font-text);
  color: var(--text-color);
  padding-top: 5px;
}

.petTitle {
  display: flex;
  gap: 3rem;

  .age {
    color: white;
    text-align: center;
    background-color: var(--vet-color);
    padding: 5px;
    width: 50px;
    border-radius: 10px;
  }

  .weight {
    color: white;
    text-align: center;
    background-color: var(--owner-color);
    padding: 5px;
    width: 50px;
    border-radius: 10px;
  }
}

.petNameInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imagePet {
  height: 120px;
  width: 120px;
  padding: 20px;
}

.divImage {
  width: 2;
  border-radius: 50%;
  border: solid 7px var(--owner-color);
}

.divImage.vet {
  border-radius: 50%;
  border: solid 7px var(--vet-color);
}
.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  margin: 2rem 6rem 4rem 6rem;

  button:not(.selectedSection) {
    height: 3rem;
    width: 8rem;
    background-color: white;
    border-radius: 10px;
    border: none;
    color: var(--font-text);
  }
}

.selectedSection {
  height: 3rem;
  width: 8rem;
  background-color: var(--owner-color);
  border-radius: 10px;
  border: none;
  color: white;
}

.selectedSection.vet {
  height: 3rem;
  width: 8rem;
  background-color: var(--vet-color);
  border-radius: 10px;
  border: none;
  color: white;
}

.buttonsContainer button:hover {
  cursor: pointer;
  height: 3rem;
  width: 8rem;
  background-color: var(--owner-color);
  border-radius: 10px;
  border: none;
  color: white;
}

.buttonsContainer.vet button:hover {
  cursor: pointer;
  height: 3rem;
  width: 8rem;
  background-color: var(--vet-color);
  border-radius: 10px;
  border: none;
  color: white;
}

.health .message {
  color: var(--text-color);
  font-size: 2.5rem;
  font-family: var(--font-text);
  text-align: center;
  padding: 100px;
  margin: 100px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.mainPage {
  display: flex;
  flex-direction: row;
}

.allPage {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .petVet {
    font-size: 2rem;
    padding: 1rem;
    justify-content: space-between;
    width: 80vw;
  }

  .logo {
    height: 80px;
    margin: 0;
  }

  .healthRecordPage {
    justify-content: center;
    align-items: center;
  }

  .mainPage {
    display: contents;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
  }
  .petFirstInfo {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  .petFirstInfo h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .petFirstInfo p {
    font-size: 0.9rem;
    text-align: center;
  }
  .petFirstInfo img {
    width: 80px;
    height: 80px;
  }
  .petTitle {
    gap: 10px;
    text-align: center;
  }
  .petTitle .age,
  .petTitle .weight {
    width: 40px;
    font-size: 0.9rem;
  }

  .petSecondInfo {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 0 2rem 0;
  }

  .petCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 80%;
  }

  .resume {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .resume > * {
    flex: 0 0 auto;
    width: 100%;
    justify-content: center;
    scroll-snap-align: center;
  }

  .health .message {
    margin: 1rem;
    padding: 2rem;
    font-size: 1rem;
  }

  .shortMedicalHistory {
    justify-content: flex-start;
    padding: 16px;
    width: 300px;
    margin-left: 30px;
    max-height: 700px;
  }
  .shortMedicalHistory h2 {
    font-size: 1.5rem;
  }
  .shortMedicalHistory h3 {
    font-size: 1rem;
  }

  .shortMedicalHistory.vet h3 {
    font-size: 1rem;
    color: var(--vet-color);
  }
}
