.loginPage {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ), url("/images/dog-and-mom.jpg");
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 57px);
  display: flex;
  flex-direction: column;
}

.navHead {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}
.navLogin {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px 20px;
  justify-content: space-between;

  .buttonHomeLoginPage {
    position: relative;
    top: -108px;
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    font-family: var(--font-title);
    align-self: center;
    justify-content: space-evenly;
  }

  .buttonHomeLoginPage img {
    height: 20px;
    width: auto;
  }
}

.petVet {
  font-family: var(--font-logo);
  font-size: 3rem;
  color: var(--text-color);
  font-weight: bold;
  margin: 0.3rem;
  text-align: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo1 {
  width: 125px;
  height: auto;
  z-index: 1;
}

.logo2 {
  width: 125px;
  height: auto;
  margin-left: -20px;
  z-index: 2;
}

.mainContainer {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  height: 600px;
}
.loginSectionForm {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.541);
  border-radius: 15px;
  width: 60%;
  margin-bottom: 40px;
}

.loginSectionForm h1 {
  font-size: 3rem;
  font-family: var(--font-logo);
  color: var(--text-color);
  margin-left: 30%;
}

.loginSectionForm h2 {
  font-size: 1.8rem;
  font-family: var(--font-title);
  color: var(--text-color);
  margin-left: 36%;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin-left: -2%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 15px 0 0 15px;
  font-size: 1rem;
  font-family: var(--font-text);
  color: var(--text-color);
}

.loginForm label {
  margin-bottom: 5%;
  margin-left: -50%;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  gap: 10px;
  font-size: 1.2rem;
}

.loginForm input {
  width: 230%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 0.8rem;
  font-family: var(--font-text);
  color: var(--text-color);
  background-color: #d9d9d9;
}

.buttonSubmit {
  width: 40%;
  height: 3rem;
  margin-top: 2%;
  font-size: 1.3rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: var(--text-color);
  font-family: var(--font-title);
  background-color: #faecdb;
}

.loginSection {
  width: 45%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  padding: 20px;
  color: var(--text-color);
  border-radius: 0 15px 15px 0;
  align-items: center;
  justify-content: center;
}

.loginSectionText {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  margin-top: -1%;
}

.loginSectionText h2 {
  margin-left: -1%;
  font-size: 1.8rem;
  text-align: center;
}
.loginSectionText p {
  margin-top: 5%;
  margin-left: 1%;
  font-size: 1.3rem;
  line-height: 2.5rem;
  max-width: 30ch;
  text-align: center;
}

.registerButton {
  margin-left: -55%;
  width: 200%;
  height: 3rem;
  margin-top: 34%;
  font-size: 1.3rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: var(--text-color);
  font-family: var(--font-title);
  background-color: #faecdb;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  gap: 20px;
  padding: 40px;
  margin-top: -25%;
}

.imgContainer img {
  border-radius: 0;
  width: auto;
  height: 100%;
  margin-bottom: 10%;
}

.owner {
  color: var(--owner-color);
}

.vet {
  color: var(--vet-color);
}

.errorMessage {
  color: #d4896c;
  font-weight: 800;
}

@media (max-width: 1200px) {
  .navLogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .navLogin h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  .navLogin img {
    height: 80px;
    width: 80px;
  }
  .buttonHomeLoginPage {
    top: 120px;
  }
  .mainContainer {
    height: auto;
    margin-top: 20%;
    margin-bottom: 20px;
  }
  .loginSection {
    width: auto;
    max-height: 400px;
    justify-content: normal;
    border-radius: 15px 15px 0 0;
  }
  .navLogin .buttonHomeLoginPage {
    top: 50px;
  }
  .loginSectionText h1 {
    font-size: 1.4rem;
  }

  .loginSectionText p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .loginSectionForm h1 {
    margin: 1rem 0;
    font-size: 2rem;
  }
  .loginSectionForm h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  .loginSectionForm {
    flex-direction: column-reverse;
    justify-content: center;
    width: 80%;
    text-align: center;
  }
  .loginForm {
    justify-content: center;
    align-self: center;
  }
  .loginForm input {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
  .loginForm div {
    width: 100%;
  }
  .loginForm label {
    margin-left: 0;
    width: 100%;
  }
  .registerButton {
    margin: 10px 0 0 0;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  .imgContainer {
    margin-top: 0;
  }
  .formContainer {
    margin: 0;
    width: 100%;
  }
  .buttonSubmit {
    margin: 0;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}
