body {
  background-color: var(--main-color);
}

.sizePage {
  min-height: calc(100vh - 57px);
}

.petVet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-logo);
  font-weight: 800;
  font-size: 3rem;
  color: var(--text-color);
  padding-top: 30px;
  padding-right: 80px;
}
.logo {
  height: 100px;
  width: auto;
  margin-left: 6rem;
}
.mainPage {
  display: flex;
  flex-direction: row;
}

.allPage {
  width: 100%;
}

.titleContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}

.title {
  font-family: var(--font-logo);
  font-size: 1.8rem;
  padding-top: 50px;
  padding-bottom: 30px;
}

.addAnimal {
  background-color: var(--owner-color);
  font-family: var(--font-text);
  font-size: 1.1rem;
  color: white;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.petCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: white;
  width: 400px;
  height: 200px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.gender {
  text-align: right;
  font-size: larger;
  font-family: var(--font-text);
}

.imagePetList {
  height: 100px;
  width: 100px;
  padding: 20px;
}

.divImage {
  border-radius: 50%;
  border: solid 7px var(--owner-color);
}

.petInfo h3 {
  font-family: var(--font-logo);
  font-weight: bolder;
  font-size: 1.4rem;
}

.specie {
  font-family: var(--font-text);
  padding-top: 5px;
}

.petInfoContainer {
  display: flex;
}

.petInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
}

.profilAccess {
  display: flex;
  justify-content: center;
  background-color: var(--owner-color);
  font-family: var(--font-text);
  font-size: 1.1rem;
  color: white;
  width: 150px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}
.linkButton {
  text-decoration: none;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 35px;
}

.petCardsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 60vw;
}

.petCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorMessage {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .petVet {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    padding: 1rem;
  }
  .gender {
    margin-bottom: 20px;
  }
  .logo {
    height: 80px;
    margin: 0;
  }
  .mainPage {
    display: contents;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
  }
  .petVet {
    font-size: 2rem;
    padding: 1rem;
    justify-content: space-between;
    width: 80vw;
  }
  .allPage {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .petCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
  }
  .title {
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .addAnimal {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .petCard {
    width: 100%;
    height: auto;
  }
  .divImage {
    height: 70px;
    width: 70px;
    border: solid 3px var(--owner-color);
    margin-right: 10px;
  }
  .imagePetList {
    height: 54px;
    width: 54px;
    padding: 8px;
  }
  h3 {
    font-size: 1rem;
  }
  .specie {
    font-size: 0.9rem;
    margin: 10px;
  }
  .profilAccess {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}
