.sizePage {
  min-height: calc(100vh - 57px);
}

.petVet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-logo);
  font-weight: 800;
  font-size: 3rem;
  color: var(--text-color);
  padding-top: 30px;
  padding-right: 80px;
}
.logo {
  height: 100px;
  width: auto;
  margin-left: 6rem;
}
.allReminders {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 50px;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  margin: 1.25rem auto;
  max-width: 400px;
}

.allReminders h1 {
  color: var(--text-color);
  margin-bottom: 1.25rem;
  font-family: var(--font-logo);
  font-size: 1.75rem;
  text-align: left;
}

.reminderCard {
  border: none;
  width: 100%;
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--main-color);
  border-radius: 50px;
  margin-bottom: 0.75rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.15);
  color: var(--text-color);
}

.reminderCard:hover {
  background-color: var(--main-color);
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.reminderImg {
  width: 50px;
  height: 50px;
}

.reminderTitle {
  margin: 0;
  font-family: var(--font-text);
  color: var(--text-color);
  max-width: 20ch;
  word-break: break-all;
}

.reminderDate {
  margin: 0;
  font-family: var(--font-text);
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-color);
  margin-left: auto;
}

.mainPage {
  display: flex;
  flex-direction: row;
}

.allPage {
  width: 100%;
}

.logo {
  height: 100px;
  width: auto;
  margin-left: 6rem;
}
@media screen and (max-width: 600px) {
  .petVet {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    padding: 1rem;
  }

  .logo {
    height: 80px;
    margin: 0;
  }

  .mainPage {
    display: contents;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
  }
  .petVet {
    font-size: 2rem;
    padding: 1rem;
    justify-content: space-between;
    width: 80vw;
  }

  .allReminders {
    padding: 1rem;
    max-width: 80%;
    margin-bottom: 4rem;
  }
  .allReminders h1 {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .allReminders h3 {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .allReminders p {
    font-size: 0.9rem;
  }
}
